

<%- include ("./partials/header") %>

<form action="/add_qanda" method="POST"> 
    <b>Question:</b><br><textarea name="question" placeholder="Enter your question" required></textarea></br>
    <b>Answer:</b><br><textarea name="answer" placeholder="Enter your answer" required></textarea></br>
    <center> <button id="btn-login"  class="btn btn-success">Submit</button> </center>
    
</form> 
<%- include ("./partials/footer") %>
   
 